* {
    padding: 0;
    margin: 0;
}

.table{
    margin-left: 45%;
    margin-top: 1%;
    position: relative;
}

h2 {
    margin-left: 42%;
    margin-top: 10%;
    font-size: 30pt;
    font-family: 'Lucida Sans';
    
}

